.flex{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(167, 187, 187);
}
.child{
    background-color: purple;
    width: 20vw;
    height: 20vH;
    color:black;
    text-align: center;
    font-size: 40px;
    margin: 8px;
}
button{
    background-color: blue;
    color: azure;
    margin: 10px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
#time{
    background-color: rgb(183, 55, 55);
    color: azure;
    padding: 10px;
    width: 100px;
}